body {
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  }
  .header-div {
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 24%, #ffa23b 67%, #ff2525 100%);
    color: white;
    width: 100vw;
    height: 40vh;
    margin-left: -8px;  
    margin-top: -21px;
    text-align: center;
  }
  .header-div div {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
  }
  #input-el {
    margin: 0 auto;
    margin-top: 20vh;
    width: 150px;
    height: 25px;
    border-radius: 20px;
    padding: 10px;
    border-width: 0px;
  }
  #input-btn {
    width: 150px;
    height: 47px;
    border-radius: 20px;
    padding: 10px;
    font-size: 17px;
    border-width: 0px;
    background-color: #E0BFB8;
    font-weight: 550;
  }
  #ans-div {
    display: flex;
      flex-direction: column;
  }
  .div {
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 24%, #ffa23b 67%, #ff2525 100%);
    width: 95vw;
    height: 90px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    border-radius: 20px;
    padding-top: 20px;
    color: honeydew;
  }
  p {
    margin-left: 20px;
    margin-top: -10px;
    font-size: 25px;
  }
  .div h1 {
    font-size: 35px;
    margin-top: -12px;
  }
  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    }
  @media (max-width: 424px) {
    .div {
      height: 130px;
      margin-top: 10px;
      word-wrap: break-word;
    }
    p {
      font-size: 6vw;
    }
  }
